fastapi
uvicorn
pydantic
sqlalchemy
httpx
apscheduler
pyinstaller
jinja2
aiofiles
websockets
python-jose[cryptography]
bcrypt
python-multipart
python-dotenv
pycryptodome
pynput
mss
opencv-python
Pillow
